Flask
Flask-SQLAlchemy
Jinja2
MarkupSafe	
SQLAlchemy
Werkzeug
certifi
charset-normalizer
click
greenlet
idna
itsdangerous
pip	
psycopg2-binary==2.9.6
requests
setuptools	
typing-extensions
urllib3
wheel
